img[loading="lazy"] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

img[loading="lazy"].loaded {
    opacity: 1;
}

img {
    height: auto;
    max-width: 100%;
}

@media screen and (prefers-reduced-motion: no-preference) {
    img[loading="lazy"] {
        scroll-margin-top: 50vh;
    }
}
